@font-face {
    /* Permet de donner le nom à cette police */
    font-family: vagrounded;
    /* Permet de donner la source de cette police */
    src: url(./fonts/vagrounded.ttf);
}

/* Intégration de la police Satisfy*/
@font-face {
    /* Permet de donner le nom à cette police */
    font-family: coders;
    /* Permet de donner la source de cette police */
    src: url(./fonts/coders.ttf);
}

html,
body {
    min-height: 100dvh;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #dae0e6 !important;
    font-family: BentonSans, sans-serif;
    color: black;
}

.row {
    background-color: #dae0e6;
}

#moi {

    /* no-repeat permet de ne pas remplir la place libre
     d'image*/
    background-size: 100%;
    width: 60px;
    height: 60px;
}

.moirond {
    height: 200px;
}

.test {
    height: 100%;
}

.mtlk {

    height: 200px;
}

#contact {
    float: right;
}

#contact-button {
    width: 90px;
    margin-top: -10px;
    height: 35px !important;
    display: block;


    box-sizing: border-box;

    background-color: #0079d3;
    color: white;

    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}


.img-size-background {
    margin: 5px !important;
    width: 25% !important;
    height: 150px;
    background-size: 110% !important;
    background-repeat: no-repeat;
    background-position: 0% !important;
}

#firstimg {

    background:
        linear-gradient(transparent, black), url("./img/coding.jpg");

}

#secondimg {

    background:
        linear-gradient(transparent, black), url("./img/sports.jpg");

}

#thirdimg {

    background:
        linear-gradient(transparent, black), url("./img/nourriture.jpg");

}

#fourthimg {


    background:
        linear-gradient(transparent, black), url("./img/repairing.jpg");

}


.mainHeadtext {
    position: relative;
    left: 5%;
    top: 30%;
    color: white;
    bottom: 0px;
}

.coders-font {
    font-family: coders !important;
    color: #212121 !important;
}

.vagrounded-font {
    font-family: vagrounded;
    color: black;
}

.spacebetween {
    justify-content: space-between;
}

.redditBtn {
    display: block;
    text-align: center;
    background-color: #0079d3 !important;
    color: white !important;
    font-weight: bold;
    margin-top: 10px;
    margin-right: -10px !important;
    border-radius: 5px !important;
    height: 35px !important;
}

.redditBtn2 {
    display: block;
    text-align: center;
    background-color: white !important;
    color: #0079d3 !important;
    font-weight: bold;
    margin-top: 10px;
    margin-right: -10px !important;
    border-radius: 5px !important;
    border: 1px #0079d3 solid !important;
    height: 35px !important;
}

.btn-block {
    width: 100%;
}

button {
    position: absolute;
}

.skills {
    background: url("./img/skills2.jpg");
    margin-left: -10px;
    border-radius: 10px;
    width: 110% !important;
    height: 80px;
    background-size: 100% !important;
    background-repeat: no-repeat;
    background-position: center !important;
}

/* Progress bar */

.conteneur_progess_bar {
    width: 100%;
    height: 15px;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    display: inline-block;
}

.progress_bar1,
.progress_bar2,
.progress_bar3 {
    background-color: #cb2025;
    width: 1%;
    height: 11px;
    border: 2px solid #f7f7f7;

}

.pourcent {
    color: #cb2025;
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px;
}


a {
    color: black !important;
}


@media screen and (max-width:499px) {
    #headerMoi
    {
        margin-top:-32px ;
    }
    #moiCentral,
    #mtlkCentral,
    #epitechCentral {

        margin-top: 50px;
    }

    .img-size-background {
        margin: 5px !important;
        width: 50% !important;
        height: 150px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    #mainSection {
        width: 100%;

    }

    #rightSection {
        margin-top: 20px;
        width: 100%;

    }

    #headerMoi {
        margin-top: -15px !important;
        font-size: 15px;
    }

    #moi {
        width: 40px;
        height: 40px;
    }

    #imgmoiCentral,
    #imgepitechCentral,
    #imgmtlkCentral {
        margin-top: 50px;
        width: 150px !important;
        height: 150px !important;
    }
}

@media screen and (min-width:500px) and (max-width:768px) {

    #headerMoi
    {
        margin-top:-25px ;
        font-size: 24px;
    }
    #imgmoiCentral,
    #imgepitechCentral,
    #imgmtlkCentral {
        margin-top: 0px;
        margin-left: 80px;
        width: 150px !important;
        height: 150px !important;
    }

    #moiCentral,
    #mtlkCentral,
    #epitechCentral {

        margin-top: 70px;
    }

    .img-size-background {
        margin: 5px !important;
        width: 100% !important;
        height: 150px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }

    #mainSection {
        width: 100%;

    }

    #rightSection {
        margin-top: 20px;
        width: 100%;

    }
}

@media screen and (min-width:769px) and (max-width:1260px) {

    #headerMoi
    {
        margin-top:-30px ;
    }
    #imgmoiCentral,
    #imgepitechCentral,
    #imgmtlkCentral {
        margin-top: 10px;
        width: 200px !important;
        height: 200px !important;
    }




    #moiCentral,
    #mtlkCentral,
    #epitechCentral {
        margin-top: 75px;
    }



    .img-size-background {
        margin: 5px !important;
        width: calc(50% - 10px) !important;
        height: 150px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0%;
    }

    #mainSection {
        width: 65%;

    }

    #rightSection {
        margin-left: 20px;
        width: 30%;

    }
}

@media screen and (min-width:1260px) {

    #headerMoi
    {
        margin-top:-32px ;
    }
    #imgmoiCentral,
    #imgmtlkCentral,
    #imgepitechCentral {
        margin-bottom: 40px;
        margin-top: 20px;
        width: 250px !important;
        height: 250px !important;
    }

    #mainHead {
        justify-content: space-between !important;
    }

    #mainSection {
        width: 70%;

    }

    #rightSection {
        margin-left: 30px;
        width: 25%;

    }

    #moiCentral,
    #mtlkCentral,
    #epitechCentral {
        padding-left: 60px;
        margin-top: 50px;
    }



}